LoanServiceClient/src/conf/xml-resources/web-service-references/LoanService/wsdl/localhost_8080/LoanService/LoanService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loanservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loanservice/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="monthlyPayment" type="tns:monthlyPayment"/>

<xs:element name="monthlyPaymentResponse" type="tns:monthlyPaymentResponse"/>

<xs:element name="totalPayment" type="tns:totalPayment"/>

<xs:element name="totalPaymentResponse" type="tns:totalPaymentResponse"/>

<xs:complexType name="monthlyPayment">
<xs:sequence>
<xs:element name="annualInterestRate" type="xs:double"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="numberOfYears" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthlyPaymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalPayment">
<xs:sequence>
<xs:element name="monthlyPayment" type="xs:double"/>
<xs:element name="numberOfYears" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalPaymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>